# ===== 本 skill 级 =====
XHS_KOL_APP_TOKEN=VyT3b5aKRa9WgpsUlQdcKCgQnbd
XHS_KOL_TABLE_ID=tbl1Y0FeR38G5Z8i
XHS_INVITE_CONTENT=
XHS_CONTACT_INFO=19318359809
XHS_CONCURRENCY=20
XHS_COOPERATE_BRAND_ID=650d7baf0000000012007130
XHS_COOPERATE_BRAND_NAME=Second Me 心识宇宙
