# ===== 全局通用（建议放 ~/.openclaw/env/global.env）=====
XHS_COOKIE=
XHS_X_S=
XHS_X_S_COMMON=
XHS_BRAND_USER_ID=
XHS_GLOBAL_ENV=~/.openclaw/env/global.env

# ===== 本 skill 级 =====
XHS_KOL_APP_TOKEN=
XHS_KOL_TABLE_ID=
XHS_INVITE_CONTENT=
XHS_COOPERATE_BRAND_ID=
XHS_COOPERATE_BRAND_NAME=
